:root{
    --red-color:#F39595;
    --gray-color:#F5F2F2;
    --blue-color:#2F2E41;
}
.login-container {
    padding: 0;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.login-form{
    font-family: 'Questrial', sans-serif;
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 5%;
    margin: auto;
}

.login-form img{
    margin: auto;
    width: 60%;
}

.login-form input[type=text], input[type=password]{
    font-family: 'Questrial', sans-serif;
    color: var(--blue-color);
    margin: 9px;
    border-radius: 8px ;
    height: 28px;
    border: solid #e4e4e4 0.5px;
    padding-left: 6px;
    font-size: 0.8rem;
}
.login-form input[type=text]:focus, input[type=password]:focus{
    outline: none;
    border-color: var(--red-color);
}
.login-form ::placeholder {
    padding-left: 6px;
    font-family: 'Questrial', sans-serif;
    color: #c4c3c3;
  }


.login-form input[type=submit]{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    border-radius: 8px;
    border: none;
    padding: 10px 0 10px 0;
    background-color: var(--red-color);
    color: white;
    font-family: 'Questrial', sans-serif;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .login-container{
        box-shadow: none;
    }
}