:root{
    --red-color:#F39595;
    --gray-color:#F5F2F2;
}

.navbar-container{
    margin: 0;
    padding:0;
    font-family: 'Questrial', sans-serif;
    font-size: 13px;
    border-bottom: solid 1px;
    border-color: #f0ecec;
}

.navbar-container nav{
    height: 60px;
    width:90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .logo{
    display: flex;
    flex-direction: row;
    font-family:'Quicksand', sans-serif; 
    align-items: center;
    flex:1;
    font-size: 1rem;
}

 .logo img{
    width: 2rem;
    height: 2rem;
}
.nav-list, .nav-list-drop{
    flex :1;
}

.navbar-container ul{
    font-size: 1rem;
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex :1;
    align-items: center;
}

.navbar-container .avatar{
    margin-left: -10px;
}

.navbar-container .link{
    color: black;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.navbar-container .signup{
    color: black;
    border: solid 2px;
    padding: 6px 12px 6px 12px;
    border-radius: 8px;
    border-color: var(--red-color);
    transition: 0.3s ease-in-out;
}
.bar{
    margin: 0px;
    padding-top: 0px;
  }
.bar .material-icons{
    display: none;
}

@media screen and (max-width: 800px){
    .nav-list{
        display: none;
    }
    .bar .material-icons{
        display: block;
        position: absolute;
        top:0;
        right: 0;
        transform: translate(-75%, 50%);
        font-size: 1.8rem;
        cursor: pointer;
    }

    .nav-list-drop{
        z-index: 5;
        position: absolute;
        right: 10%;
        top: 60px;
        background-color: var(--red-color);
        opacity: 0.9;
        width: 80%;
        transition: all 0.8s ease;
    }
    .nav-list-drop ul{
        display: flex;
        flex-direction: column;
        margin:0;
        padding: 0;
        list-style: none;
    }
    .nav-list-drop li{
        width:100%;
        border-bottom: solid 1px;
        border-color:white; 
        margin: auto;
        padding: 15px 0 15px 0;
    }

    .nav-list-drop .link  {
        color: white;
        text-decoration: none;
        margin: 0;
        padding: 0;
        text-align: center;
        display: table;
        width:100%;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        font-size: 1.1rem;
    }

    .nav-list-drop li:hover {
        background-color: rgb(255, 110, 110);
        
    }

    .nav-list-drop .signup{
        padding: 15px 0 15px 0;
        border-radius: 0px;
        border: none;
    }
}  