:root{
    --red-color:#F39595;
    --gray-color:#F5F2F2;
    --blue-color:#2F2E41;
}

button{
    font-family: 'Questrial', sans-serif;
}

.setting-links{
    padding-top: 15px;
    display: flex;
    width: 30rem;
    font-size: 1.4rem;
    margin: auto;
    justify-content: space-between;
    list-style: none;
    font-family:'Quicksand', sans-serif; 
    margin-bottom: 30px;
    cursor: pointer;
}

.setting-links li{
    padding: 5px;
    font-size: 1.1rem;
    transition: font-size .35s ease-in-out;
}

.setting-links .clicked-link{
    border-bottom: solid 2px;
    border-color: var(--red-color);
    font-size: 1.4rem;
}

.setting-links li:hover{
    font-size: 1.4rem;
}

.form-container{
    font-size: 0.7rem;
    padding: 30px 0 30px 0;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 30px 2px rgba(0, 0, 0, 0.07);
}
.form-container h1{
    font-size: 1.7rem;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.form-container hr{
    height: 1px;
    border: 0;
    border-top: 1.5px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.profile-container{
    width: 70%;
    margin: auto;
}

.security-container{
    width: 70%;
    margin: auto;
}

.security-container p, .profile-container p{
    border-radius: 5px;
    padding: 7px;
    margin: auto;
    width:170px;
    text-align: center;
}

.security-container .password-match, .wrong-password{
    background-color: rgb(250, 172, 172);
    color: red;
}
.security-container .right-password, .profile-container .setting-changed{
    background-color: rgb(171, 211, 171);
    color: green;
}
.account-container{
    width: 70%;
    margin: auto;
}
.account-container p{
    margin: 20px 0 ;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
}

.form-container .input-container{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
}
.form-container label{
    font-family: 'Questrial', sans-serif;
    margin-top: auto;
    margin-bottom: auto;
    flex:1;
    font-size: 1rem;
}
.form-container input{
    flex:2;
    font-family: 'Questrial', sans-serif;
    color: var(--blue-color);
    border-radius: 5px ;
    height: 30px;
    width: 50%;
    border: solid #e4e4e4 0.5px;
    padding-left: 6px;
    font-size: 1rem;
}
.form-container button{
    font-size: 0.9rem;
    display: block;
    margin: 40px auto 20px auto;
    width: 8rem;
    border-radius: 8px;
    border: none;
    padding: 10px 0 10px 0;
    background-color: var(--red-color);
    color: white;
    font-family: 'Questrial', sans-serif;
    cursor: pointer;
}
.account-container button{
    width:200px;
}

.popup p{
    text-align: center;
}
.popup input{
    display: block;
    margin: auto;
}

.popup-button{
    width: 80%;
    margin: auto;
    display: flex;
}
.popup-button button{
    width: 150px;
    background-color: rgb(252, 108, 108);
}
.popup-button .exit-button{
    background-color: grey;
}

@media only screen and (max-width: 800px){
    .setting-links{
    
        padding-left: 10px;
        justify-content: left;
    }
    .setting-links li{
        margin-right: 40px;
    }
    .form-container{
        width:85%;
    }
    .profile-container{
        width: 90%;
    }
    
    .security-container{
        width: 90%;
    }
    .account-container{
        width: 90%;
    }
    .form-container{
        box-shadow: none;
    }
    
}

