:root{
    --red-color:#F39595;
    --gray-color:#F5F2F2;
    --blue-color:#2F2E41;
}

button{
    font-family: 'Questrial', sans-serif;
}

.todo-container{
    z-index: 1;
    background-color: white;
    font-family: 'Questrial', sans-serif;
}
.header-bar{
    margin:auto;
    position: relative;
    display: flex;
    padding-top: 15px;
    margin-bottom: 30px;
    width: 95%;
}
.header-bar .setting-link{
    width: 40rem;
    font-size: 1.4rem;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    list-style: none;
    font-family:'Quicksand', sans-serif; 
    margin-bottom: 0;
    cursor: pointer;
}

.header-bar .setting-link li{
    padding: 5px;
}

.header-bar .clicked-link{
    border-bottom: solid 2px;
    border-color: var(--red-color);
}
.header-bar .search{
    position: absolute;
    right: 0px;
    border: solid 1px;
    border-radius: 7px;
    padding: 4px;
    border-color: #e2d9d9;
}
.search input{
    width: 140px;
    padding: 1px;
    font-size: 0.9rem;
    padding-left: 10px;
    border: none;
}
.search input:focus{
    outline: none;
}
.search:focus-within {
    border-color: var(--red-color);
}
.search input:focus + i{
    color: var(--red-color);
}
.search input::placeholder{
    color: rgb(213, 213, 213);
}
.search i{
    font-size: 0.9rem;
    margin-right: 8px;
    color: #bab2b2;
}
.button-container{
    color: var(--blue-color);
    padding: 15px;
    display: flex;
    justify-content: center;
}

.enable-todo-button{
    background-color: var(--red-color);
    color: var(--blue-color);
    border: none;
    width: 120px;
    height: 25px;
    border-radius: 5px 0 0 5px;
}

.add-task-field{
    display: flex;
    justify-content: center;
}

.input-task-field{
    display: flex;
    flex-direction: column;
}
.input-task-field input, .input-task-field textarea{
    width: 300px;
    margin: 3px;
    font-family: 'Questrial', sans-serif;
    font-size: 1rem;
    border-radius: 3px;
    border: none;
    background-color: white;
    border: 2.5px solid;
    border-color: rgb(255, 214, 214);
    resize: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}
.input-task-field input::placeholder, .input-task-field textarea::placeholder{
    color:rgb(189, 189, 189);
}
.input-task-field input:focus, .input-task-field textarea:focus{
    outline: none;
    border-color: var(--red-color);
}
.input-task-field input{
    padding-left: 7px;
    height: 30px;
}
.input-task-field textarea{
    padding: 7px 0 0 7px;
    height: 50px;
}
.add-button{
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 40px;
    cursor: pointer;
}


.tasks-container{
    width: 90%;
    margin: auto;
    margin-top: 8px;
    display: grid;    
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit,minmax(350px, 0.4fr));
}

.task-box{
    margin-top: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: #F3F3F3;
}

.task{
    display: flex;
    height: 35%;
    border-radius: 6px;
    justify-content: space-between;
    width: 96%;
    float: right;
}

.task input{
    background-color: #F3F3F3;
    flex: 3;
    margin: auto;
    border: none;
    font-size: 1rem;
  
}
.task ::placeholder{
    font-family: 'Questrial', sans-serif;
}
.task-users{
    display: grid;
    grid-template-columns: repeat(11,minmax(20px,auto));
    width: 90%;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    
}
.task-users .avatar{
    font-family: 'Questrial', sans-serif;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
}

.img-container{
    flex: 1;
    display: flex;
}

.img-container img{
    margin: auto;
    width:20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.img-container .up{
    transition: 0.3s ease-in-out;
    transform: rotate(180deg);    
}

.task-container{
    position: relative;

}
.menu-container {
    z-index: 2;
    position: absolute;
    top: 45px;
    right: 0;
}
.menu-container .menu-ul{
    width: 200px;
    border-radius: 6px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    border-color: var(--gray-color);
    background-color: var(--gray-color);
    list-style: none;
}

.menu-ul li{
    padding: 0px;
    border: 2px solid;
    border-color: var(--gray-color);
    background-color: white;
    cursor: pointer;
}
.menu-ul li:hover{
    background-color: rgb(255, 214, 214);
}

.img-span{
    display: flex;
    width: 100%;
    height: 30px;
}

.img-span img{
    width: 23px;
    margin-right: 25px;
    margin-left:5px ;
    vertical-align: middle;
}

.img-span span{
    flex: 2;
    font-size: 0.9rem;
    margin: auto;
}

.rename{
    position: relative;
}
.rename-form{
    z-index: 2;
    position: absolute;
    top: 20px;
    right: -327px;
    background-color: var(--gray-color);
    width: 320px;
    padding: 0px;
    border-radius: 6px;
    border: 3px solid;
    border-color: var(--gray-color);
}
.rename-form input, .rename-form textarea {
    border: 2px solid;
    border-color: var(--gray-color);
    width: 96%;
    font-family: 'Questrial', sans-serif;
    padding-left: 7px;
}
.rename-form input{
    height:26px;
}
.rename-form textarea{
    height:39px;
    resize: none;
}
.rename-form  input[type=submit]{
    height: 30px;
    cursor: pointer;
    width: 100%;
}
.rename-form  input[type=submit]:hover{
    background-color: rgb(255, 214, 214);
}

.move{
    position: relative;
}

.move-li{
    width: 100px;
    border-radius: 6px;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    border-color: var(--gray-color);
    background-color: var(--gray-color);
    list-style: none;
    z-index: 2;
    position: absolute;
    top: 0px;
    right: -110px;
}

.move-li li{
    display: flex;
    font-size: 0.9rem;
    min-height: 25px;
}
.move-li span{
    margin:auto;
}

.share{
    position: relative;
}
.share-form{
    z-index: 2;
    position: absolute;
    top: 120px;
    right: -327px;
    background-color: var(--gray-color);
    width: 320px;
    padding: 0px;
    border-radius: 6px;
    border: 3px solid;
    border-color: var(--gray-color);
}
.share-form input{
    border: 2px solid;
    border-color: var(--gray-color);
    width: 96%;
    font-family: 'Questrial', sans-serif;
    padding-left: 7px;
    height:26px;
}

.share-form  input[type=submit]{
    height: 30px;
    cursor: pointer;
    width: 100%;
}
.share-form  input[type=submit]:hover{
    background-color: rgb(255, 214, 214);
}
.share-form  p{
    color: var(--red-color);
    font-size: 0.8rem;
    text-align: center;
}
.tasks-container .expand-desc{
    font-family: 'Questrial', sans-serif;
    resize: none;
    width: 94%;
    height: 80px;
    background-color: #FFDDDD;
    display: block;
    margin: auto;
    padding: 10px;
    border: none;
    border-radius: 0 0 5px 5px;
    font-size: 0.9rem;
    animation-name: dropDown;
    animation-duration: 0.5s;
}
button:focus{
    outline: none;
}
.task input:focus, .tasks-container textarea:focus{
    outline: none;
}
.tasks-container .desc{
    animation-name: dropUp;
    animation-duration: 0.5s;
    opacity: 0;
    visibility: hidden;
}

@keyframes dropDown{
    from{resize: none;
        height: 0;}
    to{height:80px;}
}

.task .check-disable{
    display: none;
}

@media only screen and (max-width: 800px){
    .header-bar .setting-link{
        margin:0;
        padding-left: 10px;
        justify-content: left;
    }
    .header-bar .setting-link li{
        margin-right: 40px;
    }
    .tasks-container{
        grid-template-columns: repeat(auto-fit,minmax(230px, 1fr));
    }
}